/* Background colors: dark mode */
$color-bg-dark: #111827;
$primary-font-color-dark: #FFFFFF;

/* Background colors: light mode */
$color-bg-light: #FFFFFF;
$primary-font-color-light: #000000;

/* Blue tones */
$blue-50: #EFF6FF;
$blue-100: #DBEAFE;
$blue-200: #BFDBFE;
$blue-300: #93C5FD;
$blue-400: #60A5FA;
$blue-500: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;

