/* Background colors */
$background-1: #f8fafc;

/* Primary colors */
$primary-1: #3490dc;
$primary-2: #6574cd;
$primary-3: #9561e2;
$primary-4: #f66d9b;
$primary-5: #4dc0b5;
$primary-6: #6cb2eb;

/* Rainbow colors */
$red-1: #e3342f;
$orange-1: #f6993f;
$yellow-1: #ffed4a;
$green-1: #38c172;
